@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    background-color: #aaa;
}

.container {
    display: flex;
    justify-content: center;
}


.add {
    height: 93vh;
    width: 300px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding: 15px;
    
}

.add>div {
    text-align: center;
    color: #ffffff;
    background-color: rgb(51, 56, 68);
    margin-bottom: 20px;
    font-size: large;
    padding-top: 10px;
    height: 40px;
    
}

.add input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

.add input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.add .edit_book {
    visibility: hidden;
}

.add_book,

.edit_book {
    
    color: rgb(0, 0, 0);
    border-style: outset;
    border-color: #000000;
    height: 25px;
    width: 50px;
    font: 15px arial, sans-serif;
    text-shadow: none;
    height: 30px;
    margin-top: 10px;
   
}


.home {
    height: auto;
    width: 800px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    background-color: #ffffff;
}

.home .book-info {
    background-color: rgb(51, 56, 68);
    text-align: center;
    height: 40px;
    font-size: large;
    color: #ffffff;
    position: sticky;
    width: 780px;
    margin: 10px 0 10px 10px;
}

.home .items {

    text-align: center;
    width: 23%;
    margin: 1%;
    margin-left: 1%;
    box-shadow: rgba(15, 15, 15, 0.3) 0px 7px 29px 0px;

}

.items>img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.items .name,
.price,
.category {
    text-align: start;
    margin-left: 10px;
    padding-top: 10px;
}

.items>button {
    text-align: start;
}

.button {
    margin-top: 10px;
    margin-bottom: 5px;
}

.items>img {
    height: 90px;
}

.loading {
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 5px 0 15px 0;
    background-color: rgb(104, 116, 144);
    
}

.btn>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


h1 {
    font: 2em 'Roboto', sans-serif;
    margin-bottom: 40px;
}

.loader {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 5px solid rgba(41, 155, 170, 0);
    border-radius: 100%;
    border-top-color: rgb(62, 127, 138);
    animation: spin 0.1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}